.card {
  min-width: 275px;
  margin-top: 50px; }
  .card__media {
    height: 140px; }
  .card__details ul {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
    font-weight: 400; }
  .card__details ul li {
    padding-top: 10px;
    padding-bottom: 10px; }
