.card {
    min-width: 275px;
    margin-top: 50px;

    &__media {
        height: 140px;
    }


    &__details ul {
        margin: 0;
        padding-left: 10px;
        list-style-type: none;
        font-weight: 400;
    }

    &__details ul li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

