.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    padding: 0 5%;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__lnk {
        padding: 0;
        color: #fff;
    }
}